<h2>Первоначальная настройка приложения</h2>
<form method="post">
  <input name="MYSQL_HOST" placeholder="MySQL Host" required>
  <input name="MYSQL_USER" placeholder="MySQL User" required>
  <input name="MYSQL_PASSWORD" placeholder="MySQL Password" required>
  <input name="MYSQL_DB" placeholder="MySQL DB" required>
  <input name="MYSQL_CURSORCLASS" placeholder="Cursor Class" value="DictCursor" required>
  <input name="SECRET_KEY" placeholder="Flask Secret Key" required>
  <input name="SECRET_PHRASE_ADMIN" placeholder="Секрет администратора" required>
  <input name="SECRET_PHRASE_TEACHER" placeholder="Секрет преподавателя" required>
  <input name="REPORTS_FOLDER" placeholder="Папка для отчётов" value="downloads">
  <input name="EXCEL_FILE_PATH" placeholder="Имя файла Excel" value="user_actions_report.xlsx">
  <button type="submit">Сохранить</button>
</form>
